.paciente-header{
    height: 50px;
    background-color: white;
}
.m-0{
    font-size: 20px;
    color: black;
}

li{
    font-size: 20px;
    color: black;
}


.renglon1{
    height: 100px;
}

.renglon2{
    height: 500px;
}

.columna{
    background-color: white;
}

.renglon1{
    height: 100px;
}