* {

    
    text-align: center;

    color: gray;
    
    }

    body{
        background-image: url(fondo.JPG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .cuestionario{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: right;
    }

    .cuestionario h1{
        margin-bottom: 20px;
    }

    .cuestionario form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cuestionario label{
        margin-bottom: 10px;
    }

    .cuestionario input
    .cuestonario select{
        margin-bottom: 15px;
        padding: 5px;
        width: 200px
    }

    .cuestionario input[type="submit"]{
        padding: 10px 20px;
        background-color: aliceblue;
        color: aliceblue;
        border: none;
        cursor: pointer;
    }