
.Cuentas{
    background-color: white;
    margin-top: 50px;
    margin: 50px;
    border-radius: 15px;
    padding-bottom: 1px;
}
.search{
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: 0;
    height: 35px;
    margin-top: 0;
    width: 100%;
    align-items: center;
    justify-content:center ;
    background-color: grey;
    color: #F5E9E9;
        
}

.list{
    padding: 0;
    list-style: none;
    text-indent: 50px;
}

.listItem{
    margin-bottom: 10px;
    font-size: 20px; 
    color: black;
    border-top: 1px solid black;
}