
* {
  text-align: center;
  color: gray;
}

body {
  background: url(../../Imagenes/fondo.JPG) ;
  background-size: cover;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* .card-login{
  border: 5px solid;
  border-radius: 25px;
  border-color: hsl(205,81%,78%); 
  margin: auto;
  background: hsl(205,81%,78%); 
  height: 300px;
  width: 20%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.login-container{
  margin-top: 10%;
} 

.card-login{
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50%;

  background: hsl(205,81%,78%); 
  color: #f3f3f3;
  font-weight: bold; 
  font-size: 28px;
  padding: 7px 15px;
  border: 2px solid;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.boton{
  background: hsl(205, 23%, 45%); 
  color: #f3f3f3;
  font-weight: bold; 
  font-size: 28px;
  padding: 7px 15px;
  border: 2px solid;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

div{
  margin: 20px;
}
    